<!-- Loading -->
<div *ngIf="user == undefined || userPic == undefined" class="text-center" style="margin-top: 50px;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>  

<div *ngIf="user != undefined && userPic != undefined" class="row comment">

    <div [ngStyle]="{'background-image': 'url(' + userPic + ')'}" class="col-4 profile-img-comment" ></div>
    
    <div class="col-8 comment-content">
        <div>
            <span class="author-name">{{user.first_name + " " + user.last_name}}</span>
            <span class="comment-date">{{comment.time}}</span>
        </div>

        <div>
            <div>
                <i *ngFor="let _ of [].constructor(comment.rating)" class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
            </div>
            <p style="margin-bottom: 5px;">{{comment.text}}</p>
            
            <button class="btn btn-primary btn-block mb-4 remove-comment-btn">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

            <button (click)="showReplyBox()" class="btn btn-primary btn-block mb-4 reply-comment-btn">
                <i class="fa fa-reply" aria-hidden="true"></i>
            </button>

            <div *ngIf="replyBox">
                <app-reply-area [comment]="comment" (replyPosted)="reload()"></app-reply-area>
            </div>
            
        </div>

        <!-- Loading -->
        <div *ngIf="replies == undefined" class="text-center" style="margin-top: 50px;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="replies" *ngIf="replies != undefined && replies.length > 0">
            <app-reply *ngFor="let reply of replies" [reply]="reply"></app-reply>
        </div>


    </div>
</div>