<div class="row">
    <div class="col-2"></div>
    <div class="col-8 comment">
        <div>
            <h6 style="margin-bottom: 0px;">{{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
            <hr/>
            <p style="margin-bottom: 0px; color: rgb(100, 99, 99);"><b>Classificação:</b> {{ comment.rating }}/5</p>                
            <p style="margin-bottom: 15px; color: rgb(100, 99, 99);"><b>Comentário:</b> {{ comment.text }}</p>
        </div>
        <div style="text-align: end;">
            <p style="margin-bottom: 0px; color: gray; font-weight: 300; font-size: 10pt;">{{ comment.time }}</p>
        </div>
    </div>
    <div class="col-2"></div>
</div>