<div class="col-sm-12 col-lg-6 col-xl-4 ">
    <div class="card company_card" style="margin: 20px 20px 20px 20px;" >
        <div class="card-body">
            <h5 class="card-title">{{ company.name }}</h5>
            <hr/>

            <div class="row">
                <div class="col-5">
                    <div class="company_logo" onclick="{window.location.href = '/company/{{company.id}}'}">
                        {% if company.logo %}
                            <img src="{{ company.logo.url }}" style="width: 100%; height: 100%; border-radius: 5px;"/>
                        {% endif %}
                    </div>

                </div>

                <div class="col-7">
                    <h6 class="card-subtitle mb-2 text-muted" style="height:40px;">{{ company.location }}</h6>
                    <p class="card-text">{{ company.avg_rating }} <i style="color: blueviolet" class="fa fa-star" aria-hidden="true"></i> </p>

                    <a href="/company/{{company.id}}">
                        <button type="button" class="btn btn-primary">Ver detalhes</button>
                    </a>
                </div>

            </div>
            {% if session == "user" %}
                {% if company.fav %}
                    <a href="/favorite/remove/company/{{company.id}}">
                        <button class='fav_button'><i class="fa fa-heart" aria-hidden="true"></i></button>
                    </a>
                {% else %} 
                    <a href="/favorite/add/company/{{company.id}}">
                        <button class='fav_button'><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                    </a>
                {% endif %}
            {% else %}
                <button class='fav_button' onclick="{window.location.href = '/login'}">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
            {% endif %}
        </div>
    </div>
</div>

