.td-table {
    text-align: end;
}

.table-row {
    font-weight: 300 !important;
}

.description {
    padding: 20px;
    background-color: #fafafb;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.edit-offer-btn {
    background-color: blueviolet !important;
    font-size: 14pt !important;
    border-width: 0px !important;
    font-weight: bold !important;
    width: 100% !important;
    transition: all .2s ease-in-out !important;
}
.edit-offer-btn:hover {
    background-color: rgb(107, 33, 176) !important;
}
