.navbar-top {
    background-color: black!important;
    min-height: 85px;
    padding: 0 50px 0 50px !important;
    box-shadow: 0 0px 8px rgba(0, 0, 0, .5);
}

.navbar-logo {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 28pt !important;
    color: white !important;
}

.navbar-text {
    font-size: 14pt !important;
    font-weight: lighter !important;
    color: white !important;
    padding: 0 15px 0 15px !important;
    transition: font-weight .5s !important;
}
.navbar-text:hover {
    color: rgb(183, 121, 241) !important;
}

.navbar-account {
    font-size: 14pt !important;
    color: white !important;
}

.register-btn {
    background-color: blueviolet !important;
    font-size: 14pt !important;
    border-width: 0px !important;
    font-weight: bold !important;
    margin-left: 20px !important;
}
.register-btn:hover {
    background-color: rgb(107, 33, 176) !important;
}
