<div class="container" style="margin-top: 80px; margin-bottom: 150px;">

    <hr style="margin-top: 20px ;">

    <div class="row">
        <h1 class="col-6"> Resultados </h1>
        <div class="col-6 ">
            <div style="width: 100%; position: relative;">
                <button type="submit" class="btn btn-primary" style="width: 200px ; height: 45px; right: 0; position: absolute;">
                    Filtrar
                </button>
            </div>
        </div>
    </div>


    <div style="margin-top: 25px;">

        <div *ngIf="offers.length > 0; else elseBlock" class="row">
            <div *ngFor="let offer of offers" class="col-12 col-xl-6">
                <app-offer-card [offer]="offer"></app-offer-card>
            </div>
        </div>

        <ng-template #elseBlock>
            <div  class="col-12">
                <h4>Sem ofertas correspondentes aos filtros.</h4>
            </div>
        </ng-template>

    </div>

</div>

