<div class="container" style="margin-top: 80px; margin-bottom: 150px;">
    <h4>Informações da Empresa</h4>

    <div class="row" style="margin-top: 20px;">

        <!-- Table with company info  -->
        <div class="col-8">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row" class="table-row">Company ID</th>
                        <td class="td-table">{{company?.id}}</td>
                    </tr>

                    <tr>
                        <th scope="row" class="table-row">Name</th>
                        <td class="td-table">{{company?.name}}</td>
                    </tr>

                    <tr>
                        <th scope="row" class="table-row">Email</th>
                        <td class="td-table">{{company?.email}}</td>
                    </tr>

                    <tr>
                        <th scope="row" class="table-row">Localização</th>
                        <td class="td-table">{{company?.location}}</td>
                    </tr>

                    <tr>
                        <th scope="row" class="table-row">Classificação média</th>
                        <td class="td-table">{{company?.avg_rating}}</td>
                    </tr>

                    <tr>
                        <th scope="row" class="table-row">Nº de classificações</th>
                        <td class="td-table">{{company?.num_ratings}}</td>
                    </tr>
                </tbody>
            </table>

            <div style="margin-top: 30px; padding: 5px 5px 5px 5px;">
                <p style="margin-bottom: 5px;">Description</p>
                <div class="description">
                    <p>{{company?.description}}</p>
                </div>
            </div>
        </div>

        <!-- Company logo  -->
        <div class="col-4">
            <div class="logo-div">
                <img [src]="logoImage" style="width: 100%; height: 100%; border-radius: 5px;"/>
            </div>
        </div>
    </div>

</div>