.company_card{
    background-color: #fafafb;
    border-radius: 5px;
    padding: 20px 20px 20px 20px !important;
    border-color: rgb(223, 223, 223);
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.company_card:hover {
    scale: 1.02;
    transition: all .2s ease-in-out !important;
}

.company_logo{
    height: 100px; 
    width: 100px ; 
    border-color: gray; 
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.company_logo:hover{
    cursor: pointer;
}

