<div class="css-selector" style="height: 500px">;
    <div class="banner-img"></div>
    <div class="banner-text">
        <p class="banner-title">Ezployee</p>
        <p class="banner-text" style="font-weight: bold;">Abrimos portas ao seu futuro!</p>
        
        <a routerLink="register">
            <button type="submit" class="create-btn">
                Crie uma conta
            </button>
        </a>
    </div>
</div>

<div class="container" style="margin-top: 80px; margin-bottom: 150px;">

    <div class="card-line">
        <p style="font-size: 15pt; font-weight: bold; margin: 0;">Com a Ezployee, descobrirá centenas de ofertas de trabalho, podendo uma delas corresponder ao seu emprego de sonho.</p>
    </div>


    <div class="row">
        <div class="col-4">
            <div class="card-index">
                <div class="card-index-img" style="background-image: url('../../../assets/images/verified.svg');"></div>
                <p class="card-text" style="font-size: 15pt; font-weight: bold; text-align: justify;">Centenas de empresas publicam semanalmente novas ofertas de trabalho, podendo ser você a pessoa à altura dos seus requisitos.</p>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card-index">
                <div class="card-index-img" style="background-image: url('../../../assets/images/listings.svg');"></div>
                <p class="card-text" style="font-size: 15pt; font-weight: bold; text-align: justify;">As informações das ofertas (salários, requisitos, localizações, etc.) são atualizadas com frequência.</p>
            </div>
        </div>

        <div class="col-4">
            <div class="card-index">
                <div class="card-index-img" style="background-image: url('../../../assets/images/unique-audience.svg');"></div>
                <p class="card-text" style="font-size: 15pt; font-weight: bold; text-align: justify;">Para cada empresa, encontrará as opiniões de outros utilizadores, que o ajudarão na sua escolha.</p>
            </div>
        </div>
    </div>
</div>
