{% extends 'base.html' %}

{% block title %}Ezployee{% endblock %}

{% block content %}


<h1>Comentários</h1>
<hr/>

<div style="margin-top: 50px;">

    {% if comments|length == 0 %}
        <div style="text-align: center">
            <p style="font-size: 20pt; color: gray">Ainda não tem qualquer comentário <i class="fa fa-frown-o" aria-hidden="true"></i></p>
        </div>
    {% else %}
        {% for comment in comments %}
            {% include 'comment_card.html' with comment=comment %}
        {% endfor %}
    {% endif %}

</div>


  
{% endblock %}