{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Ezployee{% endblock %}

{% block content %}


    <!-------------------------------------------- EDIT USER -------------------------------------------->
    {% if session.type == "user" %}
        <div style="margin-top: 80px;">

            <h1>Editar informações da conta</h1>
            <hr/>

            <div class="card-body py-5 px-md-5">
                <form method="post">
                    {% csrf_token %}

                    <!-- F Name -->
                    <div class="form-outline mb-4">
                        {{form.first_name.label}}
                        {{form.first_name|add_class:"form-control"}}
                    </div>

                    <!-- L Name -->
                    <div class="form-outline mb-4">
                        {{form.last_name.label}}
                        {{form.last_name|add_class:"form-control"}}
                    </div>

                    <!-- Email -->
                    <div class="form-outline mb-4">
                        {{form.email.label}}
                        {{form.email|add_class:"form-control"}}
                    </div>

                    <!-- Password -->
                    <div class="form-outline mb-4">
                        {{form.password.label}}
                        {{form.password|add_class:"form-control"|attr:"type:password"}}
                    </div>

                    <!-- Logo image -->
                    <!-- <div class="form-outline mb-4">
                    {{form.logo.label}}
                    {{form.logo|add_class:"form-control"}}
                </div> -->

                    <!-- Errors -->
                    {% if error_email %}<p style="color: #ff0000;">Este email já está a ser utilizado</p>{% endif %}

                    <!-- Save button -->
                    <div style="text-align: center; margin-top: 50px;">
                        <button type="submit" class="btn btn-primary btn-block mb-4 register-login-btn">
                            Guardar alterações
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}


    <!-------------------------------------------- EDIT COMPANY -------------------------------------------->
    {% if session.type == "company" %}
        <div style="margin-top: 80px;">

            <h1>Editar informações da conta</h1>
            <hr/>

            <div class="card-body py-5 px-md-5">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Name -->
                    <div class="form-outline mb-4">
                        {{form.name.label}}
                        {{form.name|add_class:"form-control"}}
                    </div>

                    <!-- Email -->
                    <div class="form-outline mb-4">
                        {{form.email.label}}
                        {{form.email|add_class:"form-control"}}
                    </div>

                    <!-- Password -->
                    <div class="form-outline mb-4">
                        {{form.password.label}}
                        {{form.password|add_class:"form-control"|attr:"type:password"}}
                    </div>

                    <!-- Location -->
                    <div class="form-outline mb-4">
                        {{form.location.label}}
                        {{form.location|add_class:"form-control"}}
                    </div>

                    <!-- Description -->
                    <div class="form-outline mb-4">
                        {{form.description.label}}
                        {{form.description|add_class:"form-control"|attr:"rows: 3"}}
                    </div>

                    <!-- Logo image -->
                    <div class="form-outline mb-4">
                        {{form.logo.label}}
                        {{form.logo|add_class:"form-control"}}
                    </div>

                    <!-- Errors -->
                    {% if error_email %}<p style="color: red;">Este email já está a ser utilizado</p>{% endif %}

                    <!-- Save button -->
                    <div style="text-align: center; margin-top: 50px;">
                        <button type="submit" class="btn btn-primary btn-block mb-4 register-login-btn">
                            Guardar alterações
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}
