{% extends 'base.html' %}

{% block title %}Ezployee{% endblock %}

{% block content %}

<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <button class="nav-link active" id="companies-tab" data-bs-toggle="tab" data-bs-target="#companies" type="button" role="tab" aria-controls="companies" aria-selected="true" style="color: black ;">
            Companies
        </button>
        <button class="nav-link" id="offers-tab" data-bs-toggle="tab" data-bs-target="#offers" type="button" role="tab" aria-controls="offers" aria-selected="false" style="color: black ;">
            Offers
        </button>
    </div>
  </nav>
  <hr/>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="companies" role="tabpanel" aria-labelledby="companies-tab" tabindex="0">
        <div class="row">
		    {% for company in companies %}

		        {% include 'company_card.html' with company=company%}
		
		    {% endfor %}
		</div>
    </div>
    <div class="tab-pane fade" id="offers" role="tabpanel" aria-labelledby="offers-tab" tabindex="0">
        
        {% for offer in offers %}

            {% include 'offer_card.html' with offer=offer %}
    
        {% endfor %}

    </div>
  </div>

{% endblock %}
  