<!-- Button trigger modal -->
<button type="button" style="background-color: rgb(204, 161, 193);" class="option" data-bs-toggle="modal" data-bs-target="#addOffer">
    <p>Adicionar nova oferta</p>
</button>

<!-- Modal -->
<div class="modal fade" id="addOffer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addOfferLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="addOfferLabel">Adicionar nova oferta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding: 60px 120px 60px 120px">

        <div *ngIf="!showForm" style="text-align: center;">
            <i class="fa fa-check-circle" aria-hidden="true" style="color: rgb(0, 156, 0); font-size: 200px;"></i> <br>
            <p class="link" data-bs-dismiss="modal">Voltar para a área reservada</p>
        </div>

        <div *ngIf="showForm">
            <form id="adicionarOferta" [formGroup]="addOfferForm" (ngSubmit)="onSubmit()">
    
                <!-- Title -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Título</p>
                    <input formControlName="title" type="text" class="form-control" />
                    <p style="color: red; font-size: 10pt;" *ngIf="!validTitle">Título inválido</p>
                </div>
    
                <!-- Description -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Descrição</p>
                    <textarea formControlName="description" class="form-control" rows="4"></textarea>
                    <p style="color: red; font-size: 10pt;" *ngIf="!validDescription">Descrição inválida</p>
                </div>
    
                <!-- Salary -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Salário/hora</p>
                    <input formControlName="salary" type="number" class="form-control" />
                    <p style="color: red; font-size: 10pt;" *ngIf="!validSalary">Salário inválido</p>
                </div>
                
                <!-- Hours/week -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Horas/semana</p>
                    <input formControlName="hours" type="number" class="form-control" />
                    <p style="color: red; font-size: 10pt;" *ngIf="!validHours">Horas inválidas</p>
                </div>
    
    
                <!-- role -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Cargo</p>
                    <input formControlName="role" type="text" class="form-control" />
                    <p style="color: red; font-size: 10pt;" *ngIf="!validRole">Cargo inválido</p>
                </div>
    
    
                <!-- area -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Área</p>
                    <input formControlName="area" type="text" class="form-control" />
                    <p style="color: red; font-size: 10pt;" *ngIf="!validArea">Área inválida</p>
                </div>
    
    
                <!-- location -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Localização</p>
                    <input formControlName="location" type="text" class="form-control" />
                    <p style="color: red; font-size: 10pt;" *ngIf="!validLocation">Localização inválida</p>
                </div>
    
                <!-- years_xp -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Anos de experiência</p>
                    <select formControlName="years_xp" class="form-select" aria-label="Default select example" name="years_xp" id="id_years_xp">
                        <option value="0-3 anos">0-3 anos</option>
                        <option value="3-5 anos">3-5 anos</option>
                        <option value="5-10 anos">5-10 anos</option>
                        <option value="10+ anos">10+ anos</option>
                    </select>
                </div>
    
                <!-- work_model -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Modelo de trabalho</p>
                    <select formControlName="work_model" class="form-select" aria-label="Default select example" name="work_model" id="id_work_model">
                        <option value="Remoto">Remoto</option>
                        <option value="Presencial">Presencial</option>
                        <option value="Híbrido">Híbrido</option>
                    </select>
                </div>
                
                <!-- contract_type -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Tipo de contrato</p>
                    <select formControlName="contract_type" class="form-select" aria-label="Default select example" name="contract_type" id="id_contract_type">
                        <option value="Tempo inteiro">Tempo inteiro</option>
                        <option value="Meia jornada">Meia jornada</option>
                        <option value="Estágio">Estágio</option>
                    </select>
                </div>
    
                <!-- date_expires -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Título</p>
                    <input formControlName="date" type="date" class="form-control" />
                    <p style="color: red; font-size: 10pt;" *ngIf="!validDate">Data inválida</p>
                </div>
    
            </form>
        </div>

        
        </div>
            <div class="modal-footer">
            <button *ngIf="showForm" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button *ngIf="showForm" type="submit" form="adicionarOferta" class="btn btn-primary">Adicionar oferta</button>
        </div>
    </div>
    </div>
</div>
