<div class="card-container">
    <div class="card card-form">

        <div style="text-align: center; margin: 35px 0 10px 0;">
            <h1 class="card-title">Criar conta</h1>
        </div>

        <div class="card-body py-5 px-md-5">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <!-- Name -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Nome</p>
                    <input formControlName="nome" type="text" name="nome" class="form-control">
                    <span *ngIf="!validName" style="color: rgb(187, 0, 0);">Nome inválido</span>
                </div>
    
                <!-- Email -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Email</p>
                    <input formControlName="email" type="email" name="email" class="form-control">
                    <span *ngIf="!validEmail" style="color: rgb(187, 0, 0);">Email inválido</span>
                </div>
                
                <!-- Password -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Password</p>
                    <input formControlName="password" type="password" name="password" class="form-control">
                    <span *ngIf="!validPassword" style="color: rgb(187, 0, 0);">Password inválida</span>
                </div>
    
                <!-- Location -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Localização</p>
                    <input formControlName="localizacao" type="text" name="location" class="form-control">
                    <span *ngIf="!validLocation" style="color: rgb(187, 0, 0);">Localização inválida</span>
                </div>
    
                <!-- Description -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Descrição</p>
                    <textarea formControlName="descricao" type="text" name="description" class="form-control"  cols="3"></textarea>
                </div>
    
                <!-- Logo image -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Logo</p>
                    <input (change)="onChange($event)" type="file" name="logo" class="form-control" required>
                </div>
    
                <div *ngIf="registerFail" style="text-align: center;">
                    <p style="color: rgb(187, 0, 0)">Este email já está a ser utilizado</p>
                </div>

                <!-- Submit button -->
                <div style="text-align: center; margin-top: 50px;">
                    <button type="submit" class="btn btn-primary btn-block mb-4 register-login-btn">
                        Criar conta
                    </button>
                </div>
            </form>



        </div>
    </div>
</div>