<!-- Loading -->
<div *ngIf="user == undefined && company == undefined" class="text-center" style="margin-top: 50px;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="user != undefined || company != undefined" class="container" style="margin-top: 80px; margin-bottom: 150px;">
    <h1>Área Reservada</h1>
    <hr/>

    
    <!-------------------------------------------- USER ACCOUNT -------------------------------------------->
    <div style="margin-bottom: 60px; margin-top: 50px;">
        <div *ngIf="type == 'user'">
            
        <app-user-info [user]="user" ></app-user-info>

        <!-- Other operations -->
        <div style="margin-top: 80px;">
            <h4 style="text-align: center; margin-bottom: 30px;">Outras operações</h4>
            <div class="row align-items-start" style="margin-top: 20px;">
                <div class="col-3"></div>
                <div class="col-3">
                    <app-edit-user [user]="user" (editUserDone)="reload()"></app-edit-user>
                </div>

                <div class="col-3">
                    <button class="option" style="background-color: rgba(63, 162, 130);">
                        <p>Os meus favoritos</p>
                    </button>
                </div>

                <div class="col-3"></div>
            </div>
        </div>

    </div>


    <!-------------------------------------------- COMPANY ACCOUNT -------------------------------------------->
    <div *ngIf="type == 'company'" style="margin-bottom: 60px; margin-top: 50px;">

        <app-company-info [company]="company" ></app-company-info>
        
        <!-- Other operations -->
        <div style="margin-top: 50px;">
            <h4 style="text-align: center; margin-bottom: 30px;">Outras operações</h4>
            <div class="row align-items-start" style="margin-top: 20px;">
    
                <div class="col-3">
                    <app-edit-company [company]="company" (editCompanyDone)="reload()"></app-edit-company>
                </div>
    
                <div class="col-3">
                    <app-new-offer [company]="company" (newOfferDone)="reload()"></app-new-offer>
                </div>
    
                <div class="col-3">
                    <button routerLink="/reserved/offers" class="option" style="background-color: rgba(241, 159, 139);">
                        <p>As minhas ofertas</p>
                    </button>
                </div>
    
                <div class="col-3">
                    <button routerLink="/reserved/comments" class="option" style="background-color: rgba(63, 162, 130);">
                        <p>Comentários de utilizadores</p>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>