.td-table {
    text-align: end;
}

.table-row {
    font-weight: 300 !important;
}

.description {
    height: 100px;
    padding: 20px;
    background-color: #fafafb;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.logo-div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(243, 243, 243);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
