
/* ----------  register form ----------  */
.card-container {
    position:relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 500px;
    margin-top: 90px;
}

.card-form {
    box-shadow: 0 0px 8px rgba(0, 0, 0, .3);
}

.description-input {
    width: 100% !important;
}

.register-login-btn {
    background-color: blueviolet !important;
    font-size: 14pt !important;
    border-width: 0px !important;
    font-weight: bold !important;
    width: 100% !important;
    transition: all .2s ease-in-out !important;
}
.register-login-btn:hover {
    background-color: rgb(107, 33, 176) !important;
}
