.td-table {
    text-align: end;
}

.table-row {
    font-weight: 300 !important;
}

.description {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(184, 184, 184);
}

.logo-div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(243, 243, 243);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
