{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Ezployee{% endblock %}

{% block content %}

<div class="card-container">
    <div class="card card-form">

        <div style="text-align: center; margin: 35px 0 10px 0;">
            <h1 class="card-title">Criar conta</h1>
        </div>

        <div class="card-body py-5 px-md-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Name -->
                <div class="form-outline mb-4">
                    {{form.name.label}}
                    {{form.name|add_class:"form-control"}}
                </div>

                <!-- Email -->
                <div class="form-outline mb-4">
                    {{form.email.label}}
                    {{form.email|add_class:"form-control"}}
                </div>
                
                <!-- Password -->
                <div class="form-outline mb-4">
                    {{form.password.label}}
                    {{form.password|add_class:"form-control"|attr:"type:password"}}
                </div>

                <!-- Location -->
                <div class="form-outline mb-4">
                    {{form.location.label}}
                    {{form.location|add_class:"form-control"}}
                </div>

                <!-- Description -->
                <div class="form-outline mb-4">
                    {{form.description.label}}
                    {{form.description|add_class:"form-control"|attr:"rows: 3"}}
                </div>

                <!-- Logo image -->
                <div class="form-outline mb-4">
                    {{form.logo.label}}
                    {{form.logo|add_class:"form-control"}}
                </div>

                <!-- Errors -->
                {% if error_account %}<p style="color: red;">Esta conta já existe</p>{% endif %}

                <!-- Submit button -->
                <div style="text-align: center; margin-top: 50px;">
                    <button type="submit" class="btn btn-primary btn-block mb-4 register-login-btn">
                        Criar conta
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}
