
<div class = "offer" style="width: 550px; margin: 20px auto 20px auto; position: relative;">
    <div style="position: absolute; text-align: center; width: 500px; margin-top: 10px;">
        <h4><a class="offer-title" routerLink="/offers/{{offer.id}}" style="color: blueviolet; text-decoration: none;">{{offer.title}}</a></h4>
    </div>
    
    <div style="margin-bottom: 20px;">
        <div *ngIf="companyLogo != undefined" [ngStyle]="{'background-image': 'url(' + companyLogo+ ')'}" class=" offer-logo"></div>
    </div>

    <!-- Table with company info  -->
    <div style="margin-top: 20px;">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row" class="table-row">Empresa</th>
                    <td class="td-table">{{offer.company['name']}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Localização</th>
                    <td class="td-table">{{offer.location}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Área</th>
                    <td class="td-table">{{offer.area}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Modelo de trabalho</th>
                    <td class="td-table">{{offer.work_model}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Tipo de contrato</th>
                    <td class="td-table">{{offer.contract_type}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Salário</th>
                    <td class="td-table">{{offer.salary_h}} €/h</td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: end;">
            <p style="margin-bottom: 0px; color: gray; font-weight: 300; font-size: 10pt;">{{ offer.date_posted }}</p>
        </div>

        <!-- Button (edit or see details???) -->
        <div *ngIf="fromOwner" class="row">
            <div class="col-6">
                <a routerLink="/offers/{{offer.id}}">
                    <button class="btn btn-primary edit-offer-btn" style="margin-top: 10px;">Ver detalhes</button>
                </a>
            </div>
            
            <div class="col-6">
                <app-edit-offer [offer]="offer" ></app-edit-offer>
            </div>

        </div>

        <div *ngIf="userType !== 'company'">
            <button *ngIf="!offer.fav" class='fav_button' (click)="fav()">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </button>
    
            <button *ngIf="offer.fav" class='fav_button' (click)="unfav()">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </button>
        </div>

    </div>
</div>
