<!-- Button trigger modal -->
<button type="button" style="background-color: rgb(137, 174, 218);" class="option" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
   <p>Editar dados da empresa</p>
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar dados da empresa</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding: 60px 120px 60px 120px">

          <div *ngIf="!showForm" style="text-align: center;">
            <i class="fa fa-check-circle" aria-hidden="true" style="color: rgb(0, 156, 0); font-size: 200px;"></i> <br>
            <p (click)="reload()" class="link" data-bs-dismiss="modal">Voltar para a área reservada</p>
          </div>

          <div *ngIf="showForm">
            <form id="editForm" [formGroup]="editCompanyForm" (ngSubmit)="onSubmit()">
  
                <!-- Name -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Nome</p>
                    <input formControlName="nome" type="text" name="nome" class="form-control">
                    <p style="color: red; font-size: 10pt;" *ngIf="!validName">Nome inválido</p>
                </div>
    
                <!-- Email -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Email</p>
                    <input formControlName="email" type="email" name="email" class="form-control">
                  </div>
                
                <!-- Password -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Password</p>
                    <input formControlName="password" type="password" name="password" class="form-control">
                    <p style="color: red; font-size: 10pt;" *ngIf="!validPassword">Password inválida</p>
                  </div>
    
                <!-- Location -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Localização</p>
                    <input formControlName="localizacao" type="text" name="location" class="form-control">
                    <p style="color: red; font-size: 10pt;" *ngIf="!validLocation">Localização inválida</p>
                  </div>
    
                <!-- Description -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Descrição</p>
                    <textarea formControlName="descricao" type="text" name="description" class="form-control"  cols="3"></textarea>
                </div>
    
                <!-- Logo image -->
                <div class="form-outline mb-4">
                    <p style="margin: 0">Logo</p>
                    <input (change)="onChange($event)" type="file" name="logo" class="form-control" required>
                </div>
    
                <!-- Errors -->
                <!-- {% if error_account %}<p style="color: red;">Esta conta já existe</p>{% endif %} -->
    
            </form>
          </div>

          
        </div>
        <div class="modal-footer">
          <button *ngIf="showForm" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button *ngIf="showForm" form="editForm" type="submit" class="btn btn-primary">Guardar alterações</button>
        </div>
      </div>
    </div>
  </div>
  