<!-- Loading -->
<div *ngIf="offer == undefined || company == undefined" class="text-center" style="margin-top: 50px;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

    
<div *ngIf="offer != undefined && company != undefined" class="container" style="margin-top: 80px; margin-bottom: 150px;">
    <h2 style="text-align: center">{{ offer.title }}</h2>
    <hr/>
    <h4 style="margin-top: 30px; text-align: center">Informações</h4>

    <div class="row" style="margin-top: 40px;">


        <div class="col-2"></div>

        <!-- Table with company info  -->
        <div class="col-8">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row" class="table-row">ID da oferta</th>
                    <td class="td-table">{{offer.id}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">ID da empresa</th>
                    <td class="td-table">{{offer.company}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Empresa</th>
                    <td class="td-table">{{offer.company_name}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Salário/hora</th>
                    <td class="td-table">{{offer.salary_h}} €</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Horas/semana</th>
                    <td class="td-table">{{offer.hours_per_week}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Cargo/papel</th>
                    <td class="td-table">{{offer.role}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Área</th>
                    <td class="td-table">{{offer.area}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Localização</th>
                    <td class="td-table">{{offer.location}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Anos de experiência</th>
                    <td class="td-table">{{offer.years_xp}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Modelo de trabalho</th>
                    <td class="td-table">{{offer.work_model}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Tipo de contrato</th>
                    <td class="td-table">{{offer.contract_type}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Data de publicação</th>
                    <td class="td-table">{{offer.date_posted}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Data de expiração</th>
                    <td class="td-table">{{offer.date_expires}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Ativo</th>
                    <td class="td-table">{{offer.is_active}}</td>
                </tr>
                </tbody>
            </table>

            <div class="col-2"></div>

            <div style="margin-top: 30px; padding: 5px 5px 5px 5px;">
                <p style="margin-bottom: 5px;">Descrição</p>
                <div class="description">
                    <p>{{offer.description}}</p>
                </div>
            </div>

            <div style="text-align: center;">
                <a routerLink="/companies/{{offer.company}}">
                    <button class="btn btn-primary edit-offer-btn" style="margin-top: 20px;">Ver página da empresa</button>
                </a>
            </div>
        </div>
    </div>
</div>