{% extends 'base.html' %}

{% block title %}Ezployee{% endblock %}

{% block content %}


<h1>As minhas ofertas</h1>
<hr/>

<div style="margin-top: 50px;">

    {% if offers|length == 0 %}
        <div style="text-align: center">
            <p style="font-size: 20pt; color: gray">Ainda não publicou ofertas <i class="fa fa-frown-o" aria-hidden="true"></i></p>
        </div>
    {% else %}
        <div class="row">
            {% for offer in offers %}
            <div class="col-12 col-xl-6">
                {% include "offer_card.html" with offer=offer %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

</div>

  
{% endblock %}