.reply {
    margin: 20px 0 20px 0;
}


.profile-img-reply {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(80, 121, 255);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.reply-content {
    margin-left: 10px;
    word-wrap: break-word;
}

.author-name-reply {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.reply-date {
    font-size: 0.8em;
    color: #999;
    margin-left: 10px;
}

.remove-reply-btn {
    background-color: rgb(224, 48, 48) !important;
}

.delete-icon {
    color: red;
    margin-left: 15px;
    font-size: 15pt;
}

.delete-icon:hover {
    cursor: pointer;
}