<!-- Loading -->
<div *ngIf="user == undefined || userPic == undefined" class="text-center" style="margin-top: 50px;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>  

<div *ngIf="user != undefined && userPic != undefined" class="row reply">

    <div [ngStyle]="{'background-image': 'url(' + userPic+ ')'}" class="col-4 profile-img-reply" ></div>

    <div class="col-7 reply-content">
        <div>
            <span class="author-name-reply">{{user.first_name + " " + user.last_name}}</span>
            <span class="reply-date">{{reply.time}}</span>
            <i *ngIf="ableToDelete" (click)="deleteReply()" class="fa fa-trash delete-icon" aria-hidden="true"></i>
        </div>
        
        <div>
            <p style="margin-bottom: 5px;">{{reply.text}}</p>
        </div>
    </div>

</div>
