<div class="row" style="margin-top: 20px;">

    <!-- Table with company info  -->
    <div class="col-8">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row" class="table-row">ID de utilizador</th>
                    <td class="td-table">{{user.id}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Nome</th>
                    <td class="td-table">{{user.first_name}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Apelido</th>
                    <td class="td-table">{{user.last_name}}</td>
                </tr>

                <tr>
                    <th scope="row" class="table-row">Email</th>
                    <td class="td-table">{{user.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Company logo  -->
    <div class="col-4">
        <div class="logo-div">
            <img [src]="profilePic" style="width: 100%; height: 100%; border-radius: 10px;"/>
        </div>
    </div>
</div>